{% extends "base.html.twig" %}
{% block title %}SymRecipe - Accueil{% endblock %}

{% block body %}

<div class ='container' mt-4>
<div class="jumbotron">
  <h1 class="display-4">bienvenue chez mon site</h1>
  <p class="lead">Ma nouvelle application me permet de faire nn nn nn nn nn nn nn nn nn nn nn nn nn nn nn 
  nn nn nn nn nn nn nn n nn nn n nnn nn nn nn nn n nn n nn n nn nn n n nn n nnn n n n n n n n n n n n nnn nnn nnn 
  .</p>
  <hr class="my-4">
  <p>rendez vous surla page d'inscription  .</p>
  <p>je suis alin</p>
  {# lien pour s'inscrire #}
  <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
</div>
</div>


{% endblock %}